* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Standard width*/
    --standard-width: 1144px;
    --margin-auto: auto;

    /*Text Colors*/
    --text-dark: black;
    --text-white: white;
    --text-light: #adbdcc;
    --text-secondary: #f4f4f4;
    --text-baby-blue: #00d4ff;
    --link-color: #7000ff;
    --link-hover: #0a2540;

    /*Standard box shadow*/
    --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);

    /*Subtitles Style*/
    --purple-subtitle-color: #7000ff;
    --subtitle-size: 18px;
    --subtitle-height: 26px;
    --blue-subtitle-color: #00d4ff;

    /*Small Secondary Text*/
    --small-secondary-text-size: 14px;
    --small-secondary-text-height: 18px;
    --small-secondary-text-letter-spacing: 0.25px;

    /*Paragraph Style*/
    --paragraph-size: 18px;
    --paragraph-height: 35px;

    /*Buttons Styles*/
    --purple-btn-color: #7000ff;
    --white-btn-color: white;
    --button-background-color: black;
    --btn-size: 16px;
    --primary-btn-hover: #6d7a88;
    --btn-weight: 600;


    /*Font Family*/
    --heading-font: "Poppins", sans-serif;
    --body-font: "Roboto", sans-serif;

    /*Heading Font Sizes*/
    --h1-size: 65px;
    --h2-size: 50px;
    --h3-size: 40px;
    --h4-size: 32px;
    --h5-size: 23px;
    --h6-size: 18px;

    /*Link Decoration*/
    --link-decoration: none;

    /*Spacing*/
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
}

main {
    margin: var(--spacing-xl) 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-family: var(--body-font);
    color: var(--text-dark);
    padding: var(--spacing-sm) 0 0 0;
    background-color: var(--text-white);
    width: 100%;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--standard-width);
    margin: var(--margin-auto);
    padding: var(--spacing-sm) var(--spacing-md);
}

.hamburger {
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
}

.menu a {
    color: var(--text-dark);
    margin: 0 var(--spacing-md);
    font-weight: 600;
    letter-spacing: 1.5px;
}



.mobile-menu {
    display: none;
}

.mobile-menu>li {
    margin: var(--spacing-md) 0;
}

.mobileNav>a {
    color: black;
    text-decoration: none;
    margin: 25px 0;
}

.mobileNav>a:hover {
    text-decoration: underline;
}

.mobile-menu a {
    color: var(--text-dark);
    margin: var(--spacing-md) var(--spacing-md);
    font-weight: 600;
    letter-spacing: 1.5px;
}

.menu-link:hover {
    text-decoration: underline;
}

.hero p {
    max-width: 79%;
}

.hero-btn {
    font-size: var(--primary-btn-size);
    letter-spacing: 1.25px;
    font-weight: var(--btn-weight);
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--purple-btn-color);
    background-color: transparent;
    border-radius: 20px;
    border-style: none;
    transition: all 1s;
}

.engineers{
    color: var(--text-white);
    background-color: var(--text-dark);
    padding: var(--spacing-md) 0;
}

.engineers .two-columns{
    margin: var(--spacing-lg) 0;
}

.engineers h2{
    color: var(--text-white);
}

.engineers h5{
    color: var(--text-white);
}

.engineers .with-background-blue {
    background-color: var(--text-baby-blue);
    margin: 0 0 var(--spacing-md) 0;
}



.engineers-btn{
    font-size: var(--primary-btn-size);
    letter-spacing: 1.25px;
    font-weight: var(--btn-weight);
    padding: var(--spacing-sm) 0;
    color: var(--blue-subtitle-color);
    background-color: transparent;
    border-radius: 20px;
    border-style: none;
    transition: all 1s;
}

.engineers-btn:hover{
    opacity: 0.75;
    cursor: pointer;
}

.purple-background-btn {
    background-color: var(--purple-btn-color);
}

.hero-btn:hover {
    opacity: 0.75;
    cursor: pointer;
}

.hero .hero-phone-container {
    height: 571px;
    align-items: flex-end;
}

.hero-phone {
    height: 690px;
    transform: translate(32px, -32px);
}

.section-container {
    width: 100%;
    max-width: var(--standard-width);
    margin: var(--margin-auto);
}

.two-columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.two-columns>.right-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    padding: 0 0 0 var(--spacing-md);

}

.two-columns>.left-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    padding: 0 var(--spacing-md) 0 0;

}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-md) 0;
}

img[alt="hero-phone"] {
    width: 100%;
}

h1 {
    color: var(--text-dark);
    font-family: var(--heading-font);
    font-size: var(--h1-size);
}

h2 {
    color: var(--text-dark);
    font-family: var(--heading-font);
    font-size: var(--h2-size);
}

h3{
    color: var(--text-dark);
    font-family: var(--heading-font);
    font-size: var(--h3-size);
}

h4{
    color: var(--text-dark);
    font-family: var(--heading-font);
    font-size: var(--h4-size);
}

h5{
    color: var(--text-dark);
    font-family: var(--heading-font);
    font-size: var(--h5-size);
}
a {
    color: var(--link-color);
    text-decoration: var(--link-decoration);
}

a:hover {
    color: var(--link-hover);
}

p {
    font-size: var(--paragraph-size);
    line-height: var(--paragraph-height);
    font-weight: 500;
    padding: var(--spacing-md) 0;
}

.subtitle,
.subtitle-blue {
    color: var(--purple-subtitle-color);
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--subtitle-size);
    line-height: var(--subtitle-height);
}

.subtitle-blue {
    color: var(--blue-subtitle-color);
}

.normal-secondary-text {
    color: var(--text-secondary);
    letter-spacing: var(--small-secondary-text-letter-spacing);
}

.small-secondary-text {
    color: var(--text-secondary);
    font-size: var(--small-secondary-text-size);
    line-height: var(--small-secondary-text-height);
    letter-spacing: var(--small-secondary-text-letter-spacing);

}

.navbar-btn {
    font-size: var(--primary-btn-size);
    letter-spacing: 1.25px;
    font-weight: var(--btn-weight);
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--text-dark);
    background-color: rgba(250, 250, 250, 0.25);
    border-radius: 20px;
    border-style: none;
    transition: all 1s;
}

.mobile-navbar-btn {
    font-size: var(--primary-btn-size);
    letter-spacing: 1.25px;
    font-weight: var(--btn-weight);
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--text-dark);
    border-radius: 20px;
    border-style: none;
    transition: all 1s;
}


.navbar-btn:hover {
    background-color: rgba(250, 250, 250, 0.5);
    cursor: pointer;
}


.mobile-navbar-btn:hover {
    background-color: rgba(250, 250, 250, 0.5);
    cursor: pointer;
}

.primary-btn {
    font-size: var(--primary-btn-size);
    letter-spacing: 1.25px;
    font-weight: var(--btn-weight);
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--text-white);
    background-color: var(--text-dark);
    border-radius: 20px;
    border-style: none;
    transition: all 1s;
}

.primary-btn:hover {
    background-color: var(--primary-btn-hover);
    cursor: pointer;
}

.secondary-btn {
    font-size: var(--primary-btn-size);
    letter-spacing: 1.25px;
    font-weight: var(--btn-weight);
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--text-dark);
    background-color: transparent;
    border-radius: 20px;
    border-style: none;
    transition: all 1s;
}

.secondary-btn:hover {
    opacity: 0.75;
    cursor: pointer;
}

.with-icon {
    display: flex;
    align-items: center;
}

.with-icon:hover img {
    transform: translateX(5px);
}

.sponsors-grid {
    margin: var(--spacing-xl) 0;
    display: grid;
    grid-template-areas:
        "a b c d"
        "e f g h"
}

img[alt="instacart"] {
    grid-area: a;
    width: 100%;
}

img[alt="salesforce"] {
    grid-area: b;
    width: 100%;

}

img[alt="amazon"] {
    grid-area: c;
    width: 100%;

}


img[alt="slack"] {
    grid-area: d;
    width: 100%;
}

img[alt="shopify"] {
    grid-area: e;
    width: 100%;
    margin: var(--spacing-md) 0;

}

img[alt="google"] {
    grid-area: f;
    width: 100%;
    margin: var(--spacing-md) 0;
}

img[alt="lyft"] {
    grid-area: g;
    width: 100%;
    margin: var(--spacing-md) 0;

}

img[alt="zoom"] {
    grid-area: h;
    width: 100%;
    margin: var(--spacing-md) 0;

}

.unified-platform .two-columns {
    align-items: end;
}
.unified-platform p {
    color: var(--text-dark);
}
.unified-platform .subtitle{
    color: var(--purple-btn-color);
}

.graphics-photo-grid {
    width: 100%;
    max-width: var(--standard-width);
    display: grid;
    grid-template-areas:
        "a b b"
        "c b b"
        "c d d"
        "c d d";
    margin: auto;
    grid-gap: var(--spacing-lg);
    margin: var(--spacing-lg) 0;
    margin: auto;
    margin-top: var(--spacing-xl);
    padding: var(--spacing-lg) 0;
}

img[alt="credit-card"] {
    width: 100%;
    grid-area: a;
    box-shadow: var(--standard-box-shadow);
}

img[alt="mobile-payment"] {
    width: 100%;
    grid-area: c;
    box-shadow: var(--standard-box-shadow);
}

img[alt="blue-slack"] {
    width: 100%;
    grid-area: b;
    box-shadow: var(--standard-box-shadow);
}

img[alt="dashboard"] {
    width: 100%;
    grid-area: d;
    box-shadow: var(--standard-box-shadow);
}

img[alt="api-code"]{
    width: 100%;
    margin: 0 0 var(--spacing-md) 0;
}

img[alt="terminal-code"]{
    width: 100%;
}

.engineers .right-column {
    width: 47%;
}

.why-swipe{
    background-color: var(--text-white);
    margin: calc(var(--spacing-xl) * 2) 0;
    padding: var(--spacing-md) 0;
}

.why-swipe p {
    color: var(--text-dark);
}

.swipe-cards{
    display: flex;
    margin: var(--spacing-lg) 0;
    
}

.global-scale{
    background-color: var(--text-dark);
    position: relative;
    margin: calc(var(--spacing-xl) * 2) 0;
    padding: calc(var(--spacing-xl) * 2) 0;
}
.global-scale h2, p, h3{
    color: var(--text-white);
}
.global-scale .with-background-blue {
    color: var(--text-baby-blue);
    margin: 0 0 var(--spacing-md) 0;
}

.left-column span{
    color: var(--blue-subtitle-color);
}

img[alt="global-graphic"]{
    width: 800px;
    opacity: 25%;
    position: absolute;
    top: 140px;
    right: 140px;
}

.global-statistics{
    border-left: 3px solid var(--text-baby-blue);
    padding-left: 10px;
    position: relative;
    z-index: 1;
}

.virtual-events p{
    color: var(--text-dark);
}

.virtual-events h3{
    color: var(--text-dark);
}

.virtual-events .primary-btn{
    background-color: var(--purple-btn-color);
}
.virtual-events .subtitle{
    color: var(--purple-btn-color);
}

.stylish-session-card{
    border-radius: 15px;
    box-shadow: var(--standard-box-shadow);
    background: linear-gradient(to bottom, #7000ff 5%, transparent 53%);
    padding: var(--spacing-lg) var(--spacing-lg);
    width: 500px;
    position: relative;
}

.stylish-session-card > p{
    width: 60%;
    line-height: 25px;
    font-weight: 600;
}

img[alt="swipe-session"]{
    width: 100%;
}

img[alt="avatar2"]{
    position: absolute;
    top: 110px;
    right: 193px;
}
.gray-text{
    color:var(--text-secondary);
    font-weight: 400;
}
.encourage{
    margin: var(--spacing-lg) 0;
    padding: calc(var(--spacing-xl) * 2) 0;
}

.encourage h3{
    color: var(--text-dark);
}
.encourage .left-column > p{
    color: var(--text-dark);
    width: 90%;
    margin: var(--spacing-sm) 0 var(--spacing-sm) 0;
}

.encourage .primary-btn{
    background-color: var(--purple-btn-color);
}



/*NAVIGATION BAR media query*/
@media screen and (max-width: 1200px) and (min-width:992px) {}

@media screen and (max-width: 992px) and (min-width:786px) {

    .mobileNav {
        width: 217px;
        background-color: white;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        top: 68px;
        right: 35px;
        font-size: 23px;
        padding: inherit;
        transition: transform 1.5s;
        border-radius: 12px;
    }

    .hamburger {
        display: block;
    }

    .menu {
        display: none;
    }

    .navbar-btn {
        display: none;
    }

    .mobile-menu {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        background-color: white;
        padding: var(--s);
        padding: var(--spacing-lg) var(--spacing-lg);
        right: 26px;
        top: 60px;
        border-radius: 15px;
        font-size: 22px;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {

    .mobileNav {
        width: 217px;
        background-color: white;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        top: 68px;
        right: 35px;
        font-size: 23px;
        padding: inherit;
        transition: transform 1.5s;
        border-radius: 12px;
    }

    .hamburger {
        display: block;
    }

    .menu {
        display: none;
    }

    .navbar-btn {
        display: none;
    }

    .mobile-menu {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        background-color: white;
        padding: var(--s);
        padding: var(--spacing-lg) var(--spacing-lg);
        right: 26px;
        top: 60px;
        border-radius: 15px;
        font-size: 22px;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {

    .mobileNav {
        width: 217px;
        background-color: white;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        top: 68px;
        right: 35px;
        font-size: 23px;
        padding: inherit;
        transition: transform 1.5s;
        border-radius: 12px;
    }

    .hamburger {
        display: block;
    }

    .menu {
        display: none;
    }

    .navbar-btn {
        display: none;
    }

    .mobile-menu {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        background-color: white;
        padding: var(--s);
        padding: var(--spacing-lg) var(--spacing-lg);
        right: 26px;
        top: 60px;
        border-radius: 15px;
        font-size: 22px;
        align-items: center;
        justify-content: center;
    }
}




/* two columns media query*/
@media screen and (max-width: 1200px) and (min-width:992px) {}

@media screen and (max-width: 992px) and (min-width:786px) {
    .two-columns>.right-column {
        width: 100%;
    }

    .two-columns>.left-column {
        width: 100%;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .two-columns>.right-column {
        width: 100%;
    }

    .two-columns>.left-column {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .two-columns>.right-column {
        width: 100%;
    }

    .two-columns>.left-column {
        width: 100%;
    }
}

.mobileNav {
    display: none;
}

footer{
    background-color: var(--text-secondary);
    }

.footer-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: var(--spacing-lg) var(--spacing-lg);
    row-gap: 20px;
}

.footer-info p{
    color: var(--text-dark);
    padding: 5px 0;
    padding-top: 15px;
}

.icon-link{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.icon-link p{
    padding: var(--spacing-md) 0;
}

